<p>
    @Html.ActionLink("Add New", "Create", "Employee")
</p>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>SAlary</th>
        <th>Action</th>
    </tr>

    @foreach (WebAppwithAdo.Models.Employee prod in ViewBag.EmployeeList)
    {
        <tr>
            <td>@prod.Id</td>
            <td>@prod.Name</td>
            <td>@prod.Salary</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { @id = prod.Id }) |
                @Html.ActionLink("Delete", "Delete", new { @id = prod.Id })
            </td>
        </tr>
    }
</table>