<p>
    @Html.ActionLink("Add New", "Create", "Product")
</p>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    
    @foreach (WebAppwithAdo.Models.Product prod in ViewBag.ProductList)
    {
        <tr>
            <td>@prod.Id</td>
            <td>@prod.Name</td>
            <td>@prod.Price</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { @id = prod.Id }) |
                @Html.ActionLink("Delete", "Delete", new { @id = prod.Id })
            </td>
        </tr>
    }
</table>
